<% title 'Register' %>

<h1 class="title has-text-info">Register</h1>

<%= render "form", user: @user, except: [:verified] %>

<br>

<div>
  <%= link_to "Back to users", users_path, class: "button is-link is-light" %>
</div>
