<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarTwilio">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarTwilio" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Register', register_path, class: "navbar-item" %>
      <%= link_to 'Log In', login_path, class: "navbar-item" %>
    </div>

    <%# <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div> %>
  </div>
</nav>